html {
    font-size: 62.5%;
}

:root {
    /* Primary */
    --primary-violet: #733fc8;
    --primary-garyish-blue: #48556a;
    --primary-blackish-blue: #19212e;
    --primary-white: #ffffff;
    /* Neutral */
    --light-gray: #cfcfcf;
    --light-grayish-blue: #ecf2f8;
    --light-violet: #A775F1;

    /* Typography */
    /* --body: 1.8rem; */
    --title: 2rem;
    --body: 1.3rem;
    --user-label: 1.1rem;

    /*Fonts*/
    --primary-font: 'Barlow Semi Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    background-color: var(--light-grayish-blue);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 71px 24px;
    gap: 24px;
}

.card {
    border-radius: 8px;
    padding: 32px;
}

.card__user {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.card__user img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 17px;
}

.user__info .user__name {
    font-size: var(--body);
    font-weight: 500;
    color: var(--primary-white);
}

.user__info .user__title {
    font-size: var(--user-label);
    font-weight: 400;
    color: var(--primary-white);
    opacity: 50%;
}

.card__title {
    font-size: var(--title);
    line-height: 2.4rem;
    font-weight: 600;
    color: var(--primary-white);
    margin-bottom: 16px;
}

.card__paragraph {
    font-size: var(--body);
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--light-gray);
    opacity: 70%;
    line-height: 1.5;
}

.--daniel {
    background-color: var(--primary-violet);
}

.--daniel .card__user img {
    border: 2px solid var(--light-violet);
}

.--jonathan {
    background-color: var(--primary-garyish-blue);
}

.--jonathan .card__user img {
    border: 2px solid var(--primary-white);
}

.--jeanette, .--kira {
    background-color: var(--primary-white);
}

.--jeanette .user__info .user__name,
.--jeanette .user__info .user__title,
.--jeanette .card__title,
.--jeanette .card__paragraph,
.--kira .user__info .user__name,
.--kira .user__info .user__title,
.--kira .card__title,
.--kira .card__paragraph {
    color: var(--primary-garyish-blue);
}

.--patrick {
    background-color: var(--primary-blackish-blue);
}

.--patrick .card__user img {
    border: 2px solid var(--primary-violet);
}

.--patrick .card__title {
    color: var(--light-grayish-blue);
}